@charset "UTF-8";

.modal {
    .auto-responder-modal {
        width: 1000px;

        .modal-back {
            font-size: 27px;
            font-weight: normal;
            height: 40px;
            left: 0;
            line-height: 32px;
            position: absolute;
            text-align: center;
            top: 12px;
            width: 50px;

            .fa {
                height: 100%;
                left: 0;
                line-height: inherit;
                position: absolute;
                width: 100%;
            }
        }

        .modal-body {
            margin: 0 auto;
            min-height: calc(100% - 62px);
            padding: 10px 0;
        }
        .modal-content  {
            max-width: 650px;
        }
        li {
            list-style: none;
        }

        label {
            font-weight: 600;

            &.text-left {
                text-align: left;
            }

            &.has-error {
                font-weight: normal;
            }
        }

        .no-padding--left {
            padding-left: 0;
        }

        .auto-responder-table {
            display: table;
            margin: 0 auto;
            max-width: 1000px;
            table-layout: fixed;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: top;
            }

            .nav {
                position: fixed;
                width: 179px;

                &.position--top {
                    top: 57px;
                }
            }

        }
        .auto-responder-content {
            padding: 0 20px 30px;

            .modal-header {
                display: none;
            }

            .section-min {
                padding: 1em 0;
                margin: 0;
                cursor: pointer;
                position: relative;
                @include clearfix;

                &:hover {
                    background: #f9f9f9;
                }

                &:hover .fa {
                    display: inline-block;
                }

                &:hover .section-edit {
                    text-decoration: underline;
                }
            }

            .section-max {
                @include clearfix;
                @include alpha-property(background, $black, .05);
                margin-bottom: 0;
                padding: 1em 0 1.3em;

                .section-title {
                    margin-bottom: 10px;
                }

            }

            .section-title {
                font-weight: 600;
                margin-bottom: 5px;
                padding-right: 50px;
            }

            .section-edit {
                margin-bottom: 5px;
                text-align: right;

                .fa {
                    @include opacity(.5);
                    display: none;
                    font-size: 12px;
                    margin-right: 5px;
                }
            }

            .section-describe {
                @include clearfix;
                @include opacity(.7);
                text-overflow: ellipsis;
                white-space: pre;
            }

            .divider-dark {
                border-bottom: 1px solid #aaa;
            }

            .divider-light {
                border-bottom: 1px solid lightgrey;

                & + .divider-light {
                    display: none;
                }

                & + .divider-dark {
                    display: none;
                }
            }

            .setting-list {
                list-style-type: none;
                padding: 0;
            }

            .setting-list__hint {
                margin-top: 20px;
            }

            .setting-list-item {
                overflow: visible;
                margin-top: 7px;
            }

            .has-error {
                color: #a94442;
            }
        }
    }
}
