@charset 'UTF-8';

.post {
    .video-div {
        @include border-radius(4px);
        margin-bottom: 8px;
        max-width: 480px;
        overflow: hidden;
        position: relative;

        iframe,
        video {
            display: block;
        }

        .video-thumbnail {
            height: auto;
            max-width: 100%;
        }

        .video-thumbnail__error {
            height: 100%;
            line-height: 2;
            padding: 110px 0;
            text-align: center;
            width: 100%;

            .fa {
                @include opacity(.5);
            }

            div {
                font-size: 1.2em;
            }
        }

        .block {
            border-radius: 10px;
            height: 150px;
            left: 50%;
            margin: -75px 0 0 -100px;
            position: absolute;
            top: 50%;
            width: 200px;
        }
    }

    .video-type {
        @include opacity(.8);
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .video-title {
        font-size: 15px;
        margin-top: 3px;
    }

    .yt {
        background-color: alpha-color($black, .7);
        border-radius: 40% / 10%;
        color: #FFFFFF;
        font-size: 2em; /* change this to change size */
        height: 1.6em;
        margin: 20px auto;
        padding: 0px;
        position: relative;
        text-align: center;
        text-indent: 0.1em;
        transition: all 150ms ease-out;
        width: 2.3em;
        top: 20px;
    }

    .yt:hover {
        background: red;
    }

    .yt::after {
        border-style: solid;
        border-width: 1em 0 1em 1.732em;
        border-color: transparent transparent transparent rgba(255, 255, 255, 1);
        content: ' ';
        font-size: 0.35em;
        height: 0;
        margin: -1em 0 0 -0.75em;
        top: 50%;
        position: absolute;
        width: 0;
    }

    .img-div {
        @include single-transition(all, .1s, linear);
        -moz-force-broken-image-icon: 1;
        border-radius: 4px;
        margin-bottom: 8px;
        max-height: 350px;
        max-width: 480px;
        position: relative;

        &:hover {
            @include box-shadow(0 2px 5px 0 rgba($black, 0.1), 0 2px 10px 0 rgba($black, 0.1));
        }

        &.placeholder {
            height: 350px;
        }

        .sidebar--right & {
            max-width: 100%;
        }
    }

    .video-loading {
        height: 368px;
    }
}
